.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  width: 100%;
  height: 97.5vh;
  z-index: 1;
}

.map-container {
  height: 100vh;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: lightgray;
  color: #000;

  line-height: 24px;
}
.custom-popup .leaflet-popup-content-wrapper a {
  color: #000;
}
.custom-popup .leaflet-popup-tip-container {
  width: 600px;
  height: 200px;
}

.custom-popup {
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.custom-popup img {
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-popup h3 {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.custom-popup h4 {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
}
.custom-popup .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2c3e50;
}

.swiper-pagination {
  background-color: lightgray;
  opacity: 1;
}

.swiper.slide {
  background-color: lightgray;
  opacity: 1;
}

.swiper-button-next {
  --swiper-theme-color: black;
  padding: 10px;
  margin-left: 20px;
}
.swiper-button-prev {
  --swiper-theme-color: black;
  margin-right: 20px;
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next {
  background-color: white;
}

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  border: none;
  border-radius: 50px;
  width: 600px;
  height: 260px;
  padding: 40px 120px 65px 120px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
}
